.container {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  min-height: 250px;
  width: 300px;
  background-color: #37dc94;
  background-image: url("../../assets/images/circuit-board.svg");
  border-radius: 5px;
  border: 1px solid black;
  line-height: 1.5;
  box-shadow: 0 0 4px black;
  margin: 1rem;
}

.productBorder {
  border-bottom: 1px solid black;
  width: 100%;
  margin: 0.4rem 0;
}
.product {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}
.controls {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.controls_btn {
  height: 2.5rem;
  width: 4rem;
  border-style: none;
  border-radius: 5px;
}
