.container {
  display: flex;
  justify-content: space-between;
  flex-flow: column wrap;
  padding-top: 0.5rem;
}

.links {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background-color: var(--darkblue);
  width: 100vw;
  height: 2rem;
  list-style: none;
  margin-top: 0.7rem;
}

.links a {
  text-align: center;
  width: 33%;
  border-right: 1px black solid;
}

.links a:last-child {
  border-right: none;
}
.stockCards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}

@media (max-width: 1100px) {
  .links {
    margin-top: 0.5rem;
  }
}

@media (max-width: 927px) {
  .links {
    margin-top: 0.1rem;
  }
}

@media (max-width: 723px) {
  .links {
    margin-top: 1.6rem;
  }
}

@media (max-width: 600px) {
  .links {
    margin-top: 1.5rem;
  }
}

@media (max-width: 600px) {
  .links {
    margin-top: 1.5rem;
  }
}

@media (max-width: 540px) {
  .links {
    margin-top: 1rem;
  }
}
