.container {
  display: flex;
  justify-content: space-between;
  flex-flow: column wrap;
}

.links {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background-color: var(--darkblue);
  width: 100vw;
  height: 2rem;
}

.links a {
  text-align: center;
  width: 33%;
  border-right: 1px black solid;
}

.links a:last-child {
  border-right: none;
}
.stockCards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}
