.aboutUs {
  min-height: calc(100vh - 25rem);
  background-color: #f8eecb;
  padding: 1rem;
}

.aboutUs h2 {
  text-align: center;
  font-size: 2rem;
  color: black;
  font-weight: 500;
  margin: 2rem;
}

.aboutUs p {
  display: flex;
  justify-content: center;
  color: black;
  font-weight: 500;
  font-size: 1.1rem;
  margin: 2rem 4rem;
}
