.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.819);
  z-index: 101;
  background-image: url("../../assets/images/background-texture-bathroom-floor.svg");
  /* background-color: rgba(0, 0, 0, 0.082); */
  background-size: 100px;
  background-repeat: repeat;
}

.verify_box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: column nowrap;
  height: 76vh;
  width: 55vw;
  background-color: aliceblue;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 0 0 12px 4px black;
  padding: 2rem;
}

.verify_buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.verify_btn {
  height: 3.5rem;
  width: 12rem;
  margin: 0 1rem;
  border-style: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
}
.verify_btn:hover {
  filter: brightness(0.8);
}

.green {
  background-color: rgb(95, 205, 95);
}
.red {
  background-color: rgb(205, 111, 95);
}
