.shopping_cart {
  position: relative;
  display: flex;
  flex-direction: column;
}

.shopping_cart h2 {
  text-align: center;
  margin: 2rem;
}

.checkout {
  position: fixed;
  top: 15rem;
  right: 3rem;
  box-shadow: 1px 1px 5px rgb(118, 118, 118, 0.3);
  border-radius: 5px;
  padding: 2rem;
  width: 28%;
  height: 18rem;
}

.checkout p {
  margin: 2rem 1rem;
}

.subtotal {
  font-size: 1.2rem;
}

.tax_text {
  font-size: 0.8rem;
}

.emptyCart {
  padding: 1rem;
  width: 20rem;
  margin: 2rem;
  font-size: 1.3rem;
  border-radius: 5px;
  border-style: none;
  background-color: var(--lightorange);
  box-shadow: 1px 1px 5px rgb(118, 118, 118, 0.3);
  cursor: pointer;
}

.checkout_button {
  padding: 1rem;
  width: 11rem;
  margin: 1rem;
  font-size: 1.3rem;
  border-radius: 5px;
  border-style: none;
  background-color: var(--lightorange);
  box-shadow: 1px 1px 5px rgb(118, 118, 118, 0.3);
  cursor: pointer;
}

.emptyCart:hover,
.checkout_button:hover {
  background-color: var(--orange);
}

.emptyCart {
  align-self: center;
}

.checkout a {
  color: black;
}

@media (max-width: 887px) {
  .checkout p {
    margin: 2rem 0;
  }

  .checkout_button {
    margin: 1rem 0;
  }
}

@media (max-width: 864px) {
  .checkout {
    padding: 1rem;
    right: 2rem;
    height: 15rem;
    width: 25%;
  }

  .checkout p {
    margin: 1.5rem 0;
  }
}

@media (max-width: 832px) {
  .checkout_button {
    width: 8rem;
    margin: 1rem;
  }

  .checkout a {
    font-size: 1rem;
  }
}
