.shopping_cart {
  display: flex;
  flex-direction: column;
}

.shopping_cart h2 {
  text-align: center;
  margin: 2rem;
}

.checkout {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 15rem;
  right: 3rem;
  box-shadow: 1px 1px 5px rgb(118, 118, 118, 0.3);
  border-radius: 5px;
  padding: 2rem;
  width: 28%;
  height: 18rem;
}

.checkout p {
  margin: 2rem 1rem;
}

.subtotal {
  font-size: 1.2rem;
}

.tax_text {
  font-size: 0.8rem;
}

.emptyCart {
  padding: 1rem;
  width: 20rem;
  margin: 2rem;
  font-size: 1.3rem;
  border-radius: 5px;
  border-style: none;
  background-color: var(--lightorange);
  box-shadow: 1px 1px 5px rgb(118, 118, 118, 0.3);
  cursor: pointer;
}

.checkout_button {
  padding: 1rem;
  width: 11rem;
  margin: 1rem;
  font-size: 1.3rem;
  border-radius: 5px;
  border-style: none;
  background-color: var(--lightorange);
  box-shadow: 1px 1px 5px rgb(118, 118, 118, 0.3);
  cursor: pointer;
}

.emptyCart:hover,
.checkout_button:hover {
  background-color: var(--orange);
}

.emptyCart {
  align-self: center;
  width: 15rem;
}

.checkout a {
  color: black;
}

@media (max-width: 887px) {
  .checkout p {
    margin: 2rem 0;
  }

  .checkout_button {
    margin: 1rem 0;
  }
}

@media (max-width: 864px) {
  .checkout {
    padding: 1rem;
    right: 2rem;
    height: 15rem;
    width: 25%;
  }

  .checkout p {
    margin: 1.5rem 0;
  }
}

@media (max-width: 832px) {
  .checkout_button {
    width: 8rem;
    margin: 1rem;
  }

  .checkout a {
    font-size: 1rem;
  }
}

@media (max-width: 738px) {
  .checkout {
    padding: 1rem;
    right: 2rem;
    height: 10rem;
  }

  .checkout_button {
    width: 6rem;
    margin: 0.5rem;
    padding: 0.7rem;
  }

  .tax_text {
    font-size: 0.5rem;
  }

  .subtotal {
    font-size: 0.8rem;
  }

  .checkout p {
    margin: 0.5rem 0;
  }

  .checkout a {
    font-size: 0.7rem;
  }

  .emptyCart {
    width: 12rem;
  }
}

@media (max-width: 586px) {
  .checkout {
    padding: 1rem;
    right: 2rem;
    height: 15rem;
    width: 13rem;
  }

  .checkout_button {
    width: 6rem;
    margin: 1rem;
    padding: 0.7rem;
  }

  .tax_text {
    font-size: 0.8rem;
  }

  .subtotal {
    font-size: 1rem;
  }

  .checkout p {
    margin: 0.5rem 0;
  }

  .checkout a {
    font-size: 0.7rem;
  }

  .emptyCart {
    width: 10rem;
    font-size: 0.8rem;
  }
}

@media (max-width: 455px) {
  .checkout {
    padding: 1rem;
    right: 2rem;
    height: 11rem;
    width: 10rem;
  }

  .tax_text {
    font-size: 0.6rem;
  }

  .subtotal {
    font-size: 0.8rem;
  }

  .checkout p {
    margin: 0.5rem 0;
  }

  .checkout a {
    font-size: 0.7rem;
  }

  .quantity_input {
    width: 2.5rem;
  }
}

@media (max-width: 389px) {
  .checkout {
    height: 11rem;
    width: 20rem;
    position: static;
  }

  .shopping_cart {
    align-items: center;
  }

  .emptyCart {
    width: 7rem;
    font-size: 0.8rem;
  }
}

@media (max-width: 350px) {
  .checkout {
    height: 11rem;
    width: 16rem;
    position: static;
  }

  .shopping_cart {
    align-items: center;
  }

  .emptyCart {
    width: 7rem;
    font-size: 0.8rem;
  }
}
