.shopping_cart {
  position: relative;
  display: flex;
  flex-direction: column;
}

.shopping_cart h2 {
  text-align: center;
  margin: 2rem;
}

.checkout {
  position: fixed;
  top: 15rem;
  right: 5rem;
  box-shadow: 1px 1px 5px rgb(118, 118, 118, 0.3);
  border-radius: 5px;
  padding: 2rem;
  width: 28%;
  height: 18rem;
}

.checkout p {
  margin: 2rem;
}

.subtotal {
  font-size: 1.2rem;
}

.tax_text {
  font-size: 0.8rem;
}

.checkout_button,
.emptyCart {
  padding: 1rem;
  width: 20rem;
  margin: 2rem;
  font-size: 1.3rem;
  border-radius: 5px;
  border-style: none;
  background-color: var(--lightorange);
  box-shadow: 1px 1px 5px rgb(118, 118, 118, 0.3);
}

.checkout_button:hover {
  background-color: var(--orange);
}

.checkout a {
  color: black;
}
