.hero_container {
  position: relative;
}
.hero_img {
  object-fit: cover;
  width: 100vw;
  max-height: 70vh;
  z-index: -1;
}
.hero_heading {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  z-index: 1;
}
