.hero_container {
  position: relative;
}

.hero_img {
  object-fit: cover;
  width: 100%;
  height: 60vh;
  filter: brightness(1.5) contrast(0.8) saturate(130%);
}

.hero_heading {
  text-align: center;
  margin: 1rem;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}

.hero_container p {
  text-align: center;
  margin: 2rem 7rem;
}

.specials {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
}
