.container {
  display: flex;
  flex-flow: column nowrap;
}

.form {
  margin: 2rem;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
}

.form input,
textarea {
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  font-family: var(--main-font);
}

.form input {
  width: 13rem;
  height: 2rem;
}

textarea {
  height: 10rem;
}

label {
  text-decoration: underline;
}

.form_btn {
  width: 8rem;
  height: 3rem;
}
