.container {
  display: flex;
  flex-direction: column;
}

.form {
  margin: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form input,
textarea {
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  font-family: var(--main-font);
  border: solid var(--lightblue) 2px;
}

.form input {
  width: 13rem;
  height: 2rem;
}

textarea {
  height: 10rem;
  width: 24rem;
}

label {
  text-decoration: underline;
}

.form_btn {
  width: 15rem;
  height: 2rem;
  background-color: var(--lightorange);
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
  transition: 300ms;
  box-shadow: 1px 1px 5px rgb(118, 118, 118, 0.3);
}

.form_btn:hover {
  background-color: var(--orange);
}

@media (max-width: 450px) {
  textarea {
    height: 8rem;
    width: 20rem;
  }
}

@media (max-width: 350px) {
  textarea {
    height: 8rem;
    width: 15rem;
  }
}
