.container {
  display: flex;
  flex-flow: column nowrap;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}

.form input {
  width: 13rem;
  height: 2rem;
  padding: 0.5rem;
  margin: 1rem;
  font-family: var(--main-font);
}

textarea {
  height: 10rem;
  padding: 0.5rem;
  font-family: var(--main-font);
}
