.breweryLogo {
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card_img {
  height: 8rem;
  width: auto;
  object-fit: contain;
}

@media (max-width: 850px) {
  .card_img {
    height: 6rem;
    width: auto;
  }
}

@media (max-width: 680px) {
  .card_img {
    height: 5rem;
    width: auto;
  }

  .breweryLogo p {
    font-size: 0.8rem;
  }
}

@media (max-width: 450px) {
  .card_img {
    height: 4rem;
    width: auto;
  }

  .breweryLogo p {
    font-size: 0.6rem;
  }
}

@media (max-width: 350px) {
  .card_img {
    height: 3.5rem;
    width: auto;
  }
}
