footer {
  background-color: #493314;
  color: white;
  padding-top: 2.5rem;
  /* position: fixed; */
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

footer div {
  display: flex;
  justify-content: space-around;
  padding-bottom: 2rem;
}

footer p {
  text-align: center;
  padding-bottom: 1rem;
  font-size: small;
}

ul li {
  text-decoration: none;
  list-style: none;
}

.followUs {
  padding-bottom: 2rem;
}

.followUs li {
  padding-bottom: 0.2rem;
}

.followUs li i {
  padding-right: 0.2rem;
}

.aboutUs li {
  margin-bottom: 1rem;
}

.cookiePolicy li {
  margin-bottom: 1rem;
}

.weAccept li {
  padding-bottom: 0.2rem;
}

.weAccept li i {
  padding-right: 0.2rem;
}

ul li a {
  text-decoration: none;
  color: white;
}
