footer {
  background-color: #493314;
  color: white;
  padding-top: 4rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

footer div {
  display: flex;
  justify-content: space-around;
  padding-bottom: 3rem;
}

footer p {
  text-align: center;
  padding-bottom: 1rem;
  font-size: small;
}

ul li {
  text-decoration: none;
  list-style: none;
}
