.beerGallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

a {
  text-decoration: none;
}

.luckySquirrel {
  height: 20rem;
}

.badSearch {
  margin: 2rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.badSearch a {
  color: var(--darkblue);
  text-decoration: underline;
}

@media (max-width: 417px) {
  .badSearch h4 {
    text-align: center;
  }
}

@media (max-width: 370px) {
  .badSearch h4 {
    text-align: center;
  }

  .luckySquirrel {
    height: 15rem;
  }
}
