.card {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  width: 50rem;
  height: 30rem;
  margin: 2rem;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgb(118, 118, 118, 0.3);
}

.card_img {
  border-radius: 5px 5px 0 0;
  width: 30%;
  height: 28rem;
  object-fit: cover;
}

.card_desc {
  align-self: center;
  text-align: center;
  font-size: 0.9rem;
  padding: 1rem;
  color: black;
}
