.card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
  height: 14rem;
  margin: 1rem 3rem;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgb(118, 118, 118, 0.3);
}

.card_img {
  width: auto;
  height: 8rem;
  margin-left: 2rem;
}

.card_desc {
  align-self: center;
  text-align: center;
  font-size: 0.9rem;
  padding: 1rem;
  margin-left: 2rem;
  color: black;
}

.card_desc p {
  margin: 1rem;
}

.quantityTotalButton {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}

.quantity_and_total {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.quantity_input {
  width: 4rem;
  height: 2rem;
  padding: 0.5rem;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quantity p,
.total p {
  margin-right: 1rem;
}

.delete_button {
  width: 10rem;
  padding: 0.7rem;
  border-radius: 5px;
  border: none;
  background-color: var(--lightorange);
  box-shadow: 1px 1px 5px rgb(118, 118, 118, 0.3);
  cursor: pointer;
}

.delete_button:hover {
  background-color: var(--orange);
}
