.card {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 45rem;
  height: 14rem;
  margin: 1rem 3rem;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgb(118, 118, 118, 0.3);
}

.card_img {
  border-radius: 5px 5px 0 0;
  width: 13%;
  height: 92%;
  object-fit: cover;
  margin-left: 2rem;
  display: flex;
  align-items: center;
}

.card_desc {
  align-self: center;
  text-align: center;
  font-size: 0.9rem;
  padding: 1rem;
  margin-left: 2rem;
  color: black;
}

.card_desc p {
  margin: 1rem;
}

.quantity_and_total {
  display: flex;
  flex-flow: row nowrap;
  position: absolute;
  right: 10px;
}

.quantity p,
.total p {
  margin-bottom: 1rem;
  margin-right: 2rem;
}

.quantity_input {
  width: 4rem;
  height: 2rem;
  padding: 0.5rem;
}

.total {
  margin-right: 3rem;
}

.delete_button {
  position: absolute;
  bottom: 15px;
  right: 15px;
  padding: 0.7rem;
  border-radius: 5px;
  background-color: var(--lightorange);
  cursor: pointer;
}

.delete_button:hover {
  background-color: var(--darkorange);
}
