* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-font: "Comfortaa", cursive;
  --red: #f84931;
  --lightblue: #6fb2ff;
  --darkblue: #268aff;
  --orange: #fd9a28;
  --lightorange: #fcbf79;
}

body {
  width: 100%;
  font-family: "Comfortaa", cursive;
}

main {
  min-height: 70vh;
  scroll-behavior: smooth;
}
