* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-font: "Comfortaa", cursive;
  --red: #f84931;
  --blue: #439cfe;
  --yellow: #fedd74;
  --brown: #493314;
}

body {
  width: 100%;
  font-family: "Comfortaa", cursive;
}

main {
  min-height: 70vh;
}
