* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-font: 'Comfortaa', cursive;
}

body {
  /* background-color: aquamarine; */
  width: 100%;
  font-family: 'Comfortaa', cursive;
}
